@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Manrope", sans-serif;
}

#header img {
  border-radius: 1.5rem;
}

/* #services img {
    padding-right: 55px;
} */

.drone img {
  padding: 0 55px;
}
